<h1>Create Playlist</h1>

<div class="form-container">
  <%= form_for @playlist do |inc| %>

    <p><%= inc.label :title %>
    <%= inc.text_field :title %></p>

    <p><%= inc.label :description %>
    <%= inc.text_field :description %></p>

    <p><div id="quantity"><%= inc.label :quantity %><img src=/images/question-mark.png title="How many song additions do you want to allow per person?"></div>
    <%= inc.number_field :quantity, in: 1.0..10.0 %></p>

</div>

    <p><%= inc.radio_button :public, true %>
    <%= inc.label :public_true, "Public" %></p>

    <p><%= inc.radio_button :public, false %>
    <%= inc.label :public_false, "Private" %></p>

    <%= inc.hidden_field :account_id, :value => @current_account.id %>
    <%= inc.hidden_field :random_hex, :value => SecureRandom.hex(5) %>

    <p><%= inc.submit %></p>

  <% end %>
