<h1>Playlists#show</h1>
<p>Find me in app/views/playlists/show.html.erb</p>
<li>Title: <%= @playlist.title %></li>
<li>Description: <%= @playlist.description %></li>
<li>Public: <%= @playlist.public %></li>
<li>Quantity: <%= @playlist.quantity %></li>
<p>
  <a href=/songs/search/<%= @playlist.random_hex %>>Add song to playlist</a>
