<div id="register">

  <h1>Register</h1>
  <div class="error"><%= @account_error %><p></div>
  <div class="form-container">

    <%= form_for @account do |inc| %>

      <p><%= inc.label :user_name %></p>
      <p><%= inc.text_field :user_name %></p>

      <p><%= inc.label :user_email %></p>
      <p><%= inc.text_field :user_email %></p>

      <p><%= inc.label :password %></p>
      <p><%= inc.password_field :password %></p>

      <p><%= inc.label :password_confirmation %></p>
      <p><%= inc.password_field :password_confirmation %></p>

      <p><%= inc.submit "Register", :class => 'btn btn-default' %></p>


    <% end %>
  </div>
</div>

<div id="login">
  <%= render "/sessions/login" %>
</div>
